extends ../theme/login/layout

block content
    //  BEGIN LOGO 
    .logo
        a(href='/')
            img(src='/assets/pages/img/logo.png' alt)
    //  END LOGO 
    //  BEGIN LOGIN 
    .content
        //  BEGIN LOGIN FORM 
        form.login-form(action='/' method='post')
            h3.form-title.font-green Sign In
            #err-text(name='err-text')
            .alert.alert-danger.display-hide
                button.close(data-close='alert')
                span.font-th กรุณากรอก Username และ Password!
            include ../theme/alert/register/alert_register
            .form-group
                label.control-label.visible-ie8.visible-ie9 Username
                input.form-control.form-control-solid.placeholder-no-fix#username(type='text' autocomplete='off' placeholder='Username' name='username')
            .form-group
                label.control-label.visible-ie8.visible-ie9 Password
                input.form-control.form-control-solid.placeholder-no-fix#password(type='password' autocomplete='off' placeholder='Password' name='password')
            .form-actions
                button.btn.green.uppercase(type='submit') Login
                a#forget-password.forget-password(href='javascript:;') Forgot Password?
            .create-account
                p
                    a.uppercase(href='/register') Create an account
        //  END LOGIN FORM
        //  BEGIN FORGOT PASSWORD FORM 
        form.forget-form(action='index.html' method='post')
            h3.font-green Forget Password ?
            p.font-th กรุณากรอก E-mail ของคุณ เพื่อขอรหัสผ่านใหม่
            .form-group
                input.form-control.placeholder-no-fix(type='text' autocomplete='off' placeholder='Email' name='email')
            .form-actions
                button#back-btn.btn.green.btn-outline(type='button') Back
                button.btn.btn-success.uppercase.pull-right(type='submit' onclick='wait_alert()') Submit
        //  END FORGOT PASSWORD FORM

    script.
        function wait_alert() {
            alert(`อยู่ระหว่างรอการพัฒนาระบบ!`);
        }
    if errors_login
        script.
            var errors = !{JSON.stringify(errors_login)};
            console.log(errors)
            errors.forEach(error => {
                $(`#err-text`).append(`<div class="alert alert-danger"><button class="close" data-close="alert"></button><span class="font-th">${error.msg}</span></div>`)
            })