//  BEGIN THEME GLOBAL STYLES 
link#style_components(href='/assets/global/css/components.min.css' rel='stylesheet' type='text/css')
link(href='/assets/global/css/plugins.min.css' rel='stylesheet' type='text/css')
//  END THEME GLOBAL STYLES 
//  BEGIN PAGE LEVEL STYLES 
link(href='/assets/pages/css/blog.min.css' rel='stylesheet' type='text/css')
//  END PAGE LEVEL STYLES 
//  BEGIN THEME LAYOUT STYLES 
link(href='/assets/layouts/layout/css/layout.min.css' rel='stylesheet' type='text/css')
link#style_color(href='/assets/layouts/layout/css/themes/darkblue.min.css' rel='stylesheet' type='text/css')
link(href='/assets/layouts/layout/css/custom.min.css' rel='stylesheet' type='text/css')
//  END THEME LAYOUT STYLES